{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container py-3">

  <h4 class="mb-3">My Profile</h4>

  <div class="card">
    <div class="card-body p-3">
      <form method="post">
        {% csrf_token %}

        <div class="mb-2">
          <label class="form-label">Email</label>
          <input class="form-control" name="email" value="{{ user.email }}">
        </div>

        <div class="mb-2">
          <label class="form-label">Phone</label>
          <input class="form-control" name="phone_number" value="{{ patient.phone_number }}">
        </div>

        <div class="mb-2">
          <label class="form-label">Address</label>
          <textarea class="form-control" rows="2" name="address">{{ patient.address }}</textarea>
        </div>

        <button class="btn btn-primary mt-2">Save</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}
